@{
    ViewBag.Title = "Todo List";
}

<h2>Todo List</h2>

<a href="@Url.Action("ViewTodo", "Todopage")" class="btn btn-primary">View</a>
<a href="@Url.Action("InsertTodo", "Todopage")" class="btn btn-primary">Insert</a>
