
@{
    ViewBag.Title = "ViewToDo";
}
@using WebApplication6.Models

@model TodoModel

<div style="
    width:100%;
    height:75vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center">

    <h2>Task Todo</h2>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="error">@ViewBag.ErrorMessage</div>
    }

    @if (Model != null && Model.Items != null)
    {
        <div>
            <table class="todo">
                <tr>
                    <th>
                        _Task No_ &nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th>_Task Name_ &nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>_option_</th>
                </tr>
                 @{ 
                     int i = 0;

                     foreach (var item in Model.Items)
                     {

                         i++;
                        <tr>
                            <td>@i</td>
                            <td>@item</td>
                            <td>
                                @using (Html.BeginForm("Delete", "Todopage", new { id = i }, FormMethod.Post))
                                {
                                    @Html.Hidden("id", i)
                                    <input type="submit" value="delete">
                                }
                            </td>
                        </tr>
                     }
                 }
            </table>
        </div>
    }


</div>